<a href="https://colab.research.google.com/github/Gururajreddy/Pytorch-Tutorial/blob/master/encoding_categorical_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('custmer.csv')

In [ ]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [ ]:
df = df.iloc[:,2:]

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
X_train

     review education
3      Good        PG
4   Average        UG
29  Average        UG
2      Good        PG
31     Poor    School
34  Average    School
20  Average    School
0   Average    School
38     Good    School
35     Poor    School
42     Good        PG
40     Good    School
17     Poor        UG
36     Good        UG
47     Good        PG
46     Poor        PG
10     Good        UG
44  Average        UG
19     Poor        PG
45     Poor        PG
16     Poor        UG
30  Average        UG
22     Poor        PG
18     Good    School
11     Good        UG
21  Average        PG
8   Average        UG
37  Average        PG
13  Average    School
39     Poor        PG
32  Average        UG
27     Poor        PG
15     Poor        UG
9      Good        UG
25     Good    School
43     Poor        PG
23     Good    School
41     Good        PG
1      Poor        UG
33     Good        PG

In [ ]:
oe=OrdinalEncoder(categories=[["Poor","Average","Good"],["School","UG","PG"]])

In [ ]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [ ]:
X_train=oe.transform(X_train)
X_test=oe.transform(X_test)

In [ ]:
X_train

array([[2., 2.],
       [1., 1.],
       [1., 1.],
       [2., 2.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [2., 0.],
       [0., 0.],
       [2., 2.],
       [2., 0.],
       [0., 1.],
       [2., 1.],
       [2., 2.],
       [0., 2.],
       [2., 1.],
       [1., 1.],
       [0., 2.],
       [0., 2.],
       [0., 1.],
       [1., 1.],
       [0., 2.],
       [2., 0.],
       [2., 1.],
       [1., 2.],
       [1., 1.],
       [1., 2.],
       [1., 0.],
       [0., 2.],
       [1., 1.],
       [0., 2.],
       [0., 1.],
       [2., 1.],
       [2., 0.],
       [0., 2.],
       [2., 0.],
       [2., 2.],
       [0., 1.],
       [2., 2.]])

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le=LabelEncoder()

In [ ]:
le.fit(y_train)

LabelEncoder()

In [ ]:
y_train=le.transform(y_train)
y_test=le.transform(y_test)

In [ ]:
y_train

array([0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1])